# Виртуальное окружение
.venv/
venv/
env/

# Временные файлы Python
__pycache__/
*.py[cod]
.pytest_cache/
data/*.tmp
data/.save-backup.json

# Локальные настройки редакторов
.idea/
.vscode/

# Локальные переменные окружения
.env
